extends layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p #{currentCategory.name}
    if (articles.length > 0)
      include partials/categories.pug
      include partials/post-previews.pug
    else
      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!



